.title{
	font-weight: bold;
	color: #2a2f23;
}
.buscador{
	width: 300px;
}
.hamburguesa{
	float: left;
	margin-left: 200px;
	margin-top: -50px;
}
span{
	background-color: red;
	color: white;
	margin-top: 200px;
	margin-right: 200px;
}