<div class="jumbotron">
  <img src="https://okdiario.com/img/2019/05/27/dia-mundial-de-la-hamburguesa-655x368.jpg">
  <h1 class="display-6">El restaurante de moda 👌</h1>
  <p class="lead">Estás viendo tu serie favorita o un partido de fútbol y te da pereza hacerte de comer.
    Te entiendo, Ristobur es la solución. Haz tus pedidos en un click. ¿A qué estás esperando?</p>

  <p>Por cada pedido que hagas acumulas puntos que podrás canjear.</p>
  <a class="btn btn-dark btn-lg botonOrder" routerLink="/menu" role="button">Haz tu pedido</a>
</div>
