<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>
<br/>

<!-- Bloque login -->
<div class="container">

  <!-- Formulario -->
  <form [formGroup]="loginForm">
    
    <!-- Email -->
    <div class="form-group">
      <label for="exampleInputEmail1">
              <img class="icons" src="../../assets/images/email.png" width="20" height="20" alt="email">Email
      </label>
      <input type="email" class="form-control" 
             formControlName="email" id="exampleInputEmail1" 
             aria-describedby="emailHelp" 
             required>
    </div>


    <!-- Contraseña -->
    <div class="form-group-pass">
      <label for="exampleInputPassword1">
          <img class="icons" src="../../assets/images/password.png" width="17" height="17" alt="password">Contraseña
      </label>
      <input type="password" class="form-control"
             formControlName="password" id="exampleInputPassword1"
             required>
    </div>


    <!-- Mensajes -->
    <label class="error">{{errorMessage}}</label>
    <label class="success">{{successMessage}}</label>

    <a class="link-recover-pass text-dark" routerLink=''>Recuperar contraseña</a>

    <button type="submit" class="enter btn btn-dark" (click)="tryLogin(loginForm.value)">Entrar</button>
   

    <p class="no-account">¿Aún no tienes cuenta?</p>
    
    <a class="register text-dark" routerLink='/registro'>Regístrate</a>


  </form>
</div>