<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>

<br/>

<div class="jumbotron">
  <img src="https://i.ytimg.com/vi/dGJlpgaXgAA/maxresdefault.jpg" width="600" height="300">
  <h1 class="display-4">Ofertas y promociones</h1>
  <p class="lead">Nuevas hamburguesas RACLETTE y ORLEANS</p>
  <hr class="my-4">
  <p>Una bebida gratis si te pides una hamburguesa nueva</p>
  <a class="btn btn-primary btn-dark" routerLink="/menu" role="button">Descubrelas</a>
</div>

