<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>

<br/>

<div class="background table-responsive">
  <h1>Carrito de compra</h1>
  <hr>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">COMIDA</th>
        <th scope="col">CANTIDAD</th>
        <th scope="col">PRECIO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | async">
        <td>{{product.producto}}</td>
        <td>{{product.cantidad}}</td>
        <td>{{product.total}}€</td>
        <td>
          <a role="button" (click)="deleteProduct(user, product.producto)">
            <img class="delete" src="../../../assets/images/delete.png" width="30" height="30"/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <hr>
  <div class="content-total">
    <h4 class="total">PRECIO TOTAL</h4>
    <h4 class="total">{{total}}€</h4>
  </div>
  <button type="button" class="btn btn-dark btn-lg">Comprar</button>
</div>



