.table{
  margin-top: 100px;
}
.name{
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	color: #2a2f23;
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
	font-size: 25px;
}
.logo{
	float: left;
}
.background{
  background-color: white;
  width: 700px;
  height: 500px;
  margin-left: 212px;
  margin-top: 71px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}
h1{
  text-align: center;
}
