<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>

<br/>

<div class="background table-responsive">
  <h1>Carrito de compra</h1>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | async">
        <td>{{product.producto}}</td>
        <td>{{product.cantidad}}</td>
        <td>{{product.total}}</td>
        <td>
          <button (click)="deleteProduct(user, product.producto)">Eliminar</button>
        </td>
      </tr>
      <hr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total:</td>
        <td>{{ total }}</td>
      </tr>
    </tbody>
  </table>
</div>

