<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>

<br/>

<!-- Tarjeta por cada carne -->
<div *ngFor="let carne of carnes | async" class="card" style="width: 400px; margin-top: 100px; margin-left: 360px">
  <img src="{{carne.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{carne.name}}</h5>
    <p class="card-text">{{carne.description}}</p>
    <p class="card-text">{{carne.price}}€</p>
    <button type="button" (click)="getCarne(carne.id)" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">
  	 Pedir
	</button>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{nombreCarne}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Selecciona la cantidad</h3>
        Cantidad <input type="number" [(ngModel)]="cantidad" name="cantidad" value="1" min="1" max="10" step="1">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="doOrder(nombreCarne, precioCarne)" class="btn btn-primary" data-dismiss="modal" data-backdrop="false">Añadir al carro</button>
      </div>
    </div>
  </div>
</div>
