.name{
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	color: #2a2f23;
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
	font-size: 25px;
}
.logo{
	float: left;
}

ul{
	width: 702px;
	margin-top: 80px;
	margin-left: 211px;
	list-style-type: none;
	text-align: center;
}

a{
	color: black;
	font-size: 30px;
	font-family: 'Bitter';
	text-transform: uppercase;
	text-decoration: none;
}

p{
	text-align: center;
}