<nav class="navbar navbar-expand-lg navbar-light bg-dark">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menú con opciones -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a (click)="metodo()" class="navbar-brand" routerLink="/menu">
          <img src="../assets/images/menu.png" width="20" height="20" class="icon d-inline-block align-top" alt="" style="margin-right: 7px">
          Menú
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/orders">
          <img src="../assets/images/pedidos.png" width="20" height="20" class="icon d-inline-block align-top" alt="">
          Mis pedidos
        </a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" routerLink="/news">
          <img src="../assets/images/novedades.png" width="20" height="20" class="icon d-inline-block align-top" alt="">
          Novedades
        </a>
      </li>
      <li *ngIf="!isLogged; else disconnect" class="nav-item">
        <a class="navbar-brand" routerLink="/login">
          <img src="../assets/images/usuario.png" width="20" height="20" class="icon d-inline-block align-top" alt="">
          Entrar
        </a>
      </li>
      <ng-template #disconnect>
        <li class="nav-item">
        <a class="navbar-brand" role="button" (click)="signOut()" routerLink="/login">
          <img src="../assets/images/usuario.png" width="20" height="20" class="icon d-inline-block align-top" alt="">
          Desconectar
        </a>
      </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div class="info-menu">
  <img src="../assets/images/restaurant.png" class="restaurant" width="20" height="20">
  <p class="recogida">Recoger en local o domicilio</p>
  <p class="seleccion">Aún no seleccionado</p>
</div>

<div class="shop">
  <img src="../assets/images/productos.png" class="productos" width="30" height="30">
</div>
