/*
*	Nombre y logo
*/

.name{
	display: block;
	margin-left: 15px;
	margin-top: 20px;
	float: left;
	color: #2a2f23;
	font-family: 'PT Serif', serif;
	letter-spacing: 3px;
	font-size: 25px;
}
.logo{
	display: block;
	float: left;
}

/*
*	Div login
*/
.container{
	display: block;
	margin-top: 10%;
}

/*
* Formulario
*/
form{
	width: 230px;
	height: 400px;
	margin-left: 35%;
}
.btn{
	margin-left: 10px;
}