<!-- Nombre e Imagen -->
<h1 class="name">Ristobur</h1>
<img src="../assets/images/logo.png" width="70" height="70" class="logo" alt="Ristobur">

<!-- Menu -->
<app-navbar></app-navbar>

<br/>
<!--
<div style="margin-left: 50px;margin-top: 100px;">
	<h1>Entrantes</h1>

	<hr>

	<ul *ngFor="let entrante of entrantes | async">
		<li style="list-style: none; font-size: 18px; font-weight: bold">
			{{entrante.nombre}}
		</li>
		<li style="list-style: none; font-size: 14px; text-align: justify;">
			{{entrante.descripcion}}
		</li>
		<li style="list-style: none; font-size: 14px">
			{{entrante.precio}}€
		</li>
	

	<img src="https://okdiario.com/img/2019/05/27/dia-mundial-de-la-hamburguesa-655x368.jpg" alt="hamburguesa" width="300" height="200">

	<br/>
	<button (click)="subtract()" style="width: 30px;height: 30px; float: left;">-</button>
	<p style="float: left;">{{count}}</p>
	<button (click)="add()" style="width: 30px;height: 30px;float: left;">+</button>
	<br/>
	<button (click)="doOrder(entrante.nombre)" style="margin-top: 15px">Añadir al carrito</button>

	</ul>
</div>
-->


<!-- Tarjeta muestra entrantes -->
<div *ngFor="let entrante of entrantes | async" class="card" style="width: 400px; margin-top: 100px; margin-left: 360px">
  <img src="{{entrante.image}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{entrante.nombre}}</h5>
    <p class="card-text">{{entrante.descripcion}}</p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  	 Añadir a la carta
	</button>
  </div>
</div>


<!-- Modal -->
<div *ngFor="let entrante of entrantes | async" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">{{entrante.nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Precio: {{entrante.precio}}€</p>
        Cantidad: <input type="text" [(ngModel)]="cantidad" name="cantidad" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" (click)="doOrder(entrante.nombre)" class="btn btn-primary">Pedir</button>
      </div>
    </div>
  </div>
</div>